//import
@import "../utilidades/mixin";

/*media queries*/

/*media queries tablet*/ 
@media screen and (min-width:600px){    
    .contenedor-productos-hc{ 
        @include alinear-centro;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, 1fr); 
         
    } 

    .contenedor-productos-intimates{ 
        @include alinear-centro; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr);   
    } 
} 

/*media queries desktop*/ 

@media screen and (min-width:1024px){ 
    .contenedor-portadas{ 
        display: grid; 
        grid-template-columns: repeat(2,50%); 
        width: 100%; 
    } 

    .contenedor-productos-hc{ 
        @include alinear-centro; 
        grid-template-columns:repeat(3,33%); 
        grid-template-rows: repeat(3,33%);  
    } 

    .contenedor-productos-intimates{ 
        @include alinear-centro; 
        grid-template-columns:repeat(3,33%); 
        grid-template-rows: repeat(2,50%);  
    } 
} 

 